.contact-us {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "h h h h"
    "a a f f";
    height: 95vh;
    width: 100%;
}

.hero {
    grid-area: h;
    display: flex;
    background-color: #120d23;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 100%; */
    gap: 20px;
}

.hero-image {
    width: 100%;
    height: 450px;
    opacity: 0.3;
    object-fit: cover;
}

.hero-text {
    position: absolute;
}

.hero p {
    max-width: 1000px;
}

.address {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #120d23;
    height: 55%;
}

.address img {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: 0;
    object-fit: cover;
}

.address-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 20px;
    margin: auto;
    gap: 10px;
    z-index: 1;
}

hr {
    width: 200px;
    left: 0;
}

.contact-form-container {
    grid-area: f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 100%;
    z-index: 1;
    padding: 50px;
    height: 55%;
}

.contact-form {
    /* border: solid yellow 2px; */
    width: 90%;
    gap: 5px;
}

form input, textarea {
    border: rgb(197, 194, 194) solid 1px;
    border-radius: 10px;
}

.contact-submit-btn {
    background-color: white;
    color: #120d23;
    padding: 10px;
    width: 150px;
}

.contact-submit-btn:hover {
    color: white;
}

@media only screen and (max-width: 1000px) {
    .contact-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 100vw; */
    }
    .contact-form-container {
        height: 100%;
    }
}