footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    gap: 10px;
    padding: 50px;
}

.footer-socials-container {
    display: flex;
    gap: 0.75rem;
    font-size: 40px;
}

.footer-icon {
    cursor: pointer;
    color: black;
}

.footer-icon:hover {
    scale: 1.2;
}

@media only screen and (max-width: 400px) {
    footer {
        gap: 20px;
    }

    footer h3 {
        font-size: 17px;
    }
}