footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    gap: 10px;
    padding: 50px;
}

.footer-socials-container {
    display: flex;
    gap: 0.75rem;
    font-size: 40px;
}

.socials-icon {
    cursor: pointer;
}

.socials-icon:hover {
    scale: 1.2;
}