.player-card {
    border: solid rgb(60, 40, 133) 0.5px;
    border-radius: 20px;
    padding: 10px;
    height: 275px;
    width: 225px;
    box-shadow: 2px 2px 15px black;
}

.player-card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .player-card {
    height: 225px;
    width: 175px
  }
  .player-card img {
    height: 150px;
    width: 150px
  }
}

@media only screen and (max-width: 500px) {
  .player-card {
    height: 160px;
    width: 125px;
  }
  .player-card p {
    font-size: 14px;
  }
  .player-card img {
    height: 100px;
    width: 100px
  }
}
